{
  email serverchef.digit@chalmers.it

  # For prod
  acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}

  # For dev
  # local_certs
}

:80 {
  @http {
    protocol http
  }

  redir @http https://{host}{url} permanent
}

http://ldap.chalmers.it {
  reverse_proxy /.well-known/* http://dantooine.chalmers.it:80
}

https://ldap.chalmers.it {
  reverse_proxy http://dantooine.chalmers.it:8080
}

https://proxmox.chalmers.it {
  reverse_proxy {
    to https://galaxy.chalmers.it:8006
    header_up X-Real-IP {remote_host}
    transport http {
      tls_insecure_skip_verify
    }
  }
}

https://chalmers.it,
https://*.chalmers.it,
https://*.dev.chalmers.it {
  reverse_proxy {
    to http://starswarm.chalmers.it:80
    header_up X-Real-IP {remote_host}
  }
}

https://nollk.it {
  reverse_proxy {
    to http://starswarm.chalmers.it:80
    header_up X-Real-IP {remote_host}
    transport http {
      issuer acme
    }
  }
}
