{
  email serverchef.digit@chalmers.it
}

(cloudflare-tls) {
  tls {
    issuer acme {
      dns cloudflare {$CLOUDFLARE_API_TOKEN}
    }
  }
}

:80 {
  @http {
    protocol http
  }

  redir @http https://{host}{url} permanent
}

http://ldap.chalmers.it {
  reverse_proxy /.well-known/* http://dantooine.digit-local:80
}

https://ldap.chalmers.it {
  import cloudflare-tls

  reverse_proxy http://dantooine.digit-local:8080
}

https://proxmox.chalmers.it {
  import cloudflare-tls

  reverse_proxy {
    to https://galaxy.digit-local:8006
    header_up X-Real-IP {remote_host}
    transport http {
      tls_insecure_skip_verify
    }
  }
}

https://chalmers.it,
https://*.chalmers.it,
https://*.dev.chalmers.it {
  import cloudflare-tls

  reverse_proxy {
    to http://starswarm.digit-local:80
    header_up X-Real-IP {remote_host}
  }
}

https://nollk.it {
  reverse_proxy {
    to http://starswarm.digit-local:80
    header_up X-Real-IP {remote_host}
  }
}
