version: "3"
services:
  web-proxy:
    image: cthit/caddy-cloudflare:2.3.0
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - /data/caddy:/data

  irc-secure-proxy:
    image: hpello/tcp-proxy:1.1.0
    restart: unless-stopped
    network_mode: host
    command: irc 6697

  ldap-secure-proxy:
    image: hpello/tcp-proxy:1.1.0
    restart: unless-stopped
    network_mode: host
    command: ldap 636
